{{#if inactive}}
  <div class="form-group">
    <div class="radio">
      <div class="row">
        <div class="col-xs-2">
          State
        </div>
        <div class="col-xs-10">
          <label class ="radio-inline btn btn-default"><input type="radio" name="state-group" value="inactive" checked>Inactive</label>
          <label class ="radio-inline btn btn-default"><input type="radio" name="state-group" value="incomplete">Incomplete</label>
          <label class ="radio-inline btn btn-default"><input type="radio" name="state-group" value="complete">Complete</label>
        </div>
      </div>
    </div>
  </div>
{{else if incomplete}}
<div class="form-group">
  <div class="radio">
    <div class="row">
      <div class="col-xs-2">
        State
      </div>
      <div class="col-xs-10">
        <label class ="radio-inline btn btn-default"><input type="radio" name="state-group" value="inactive" checked>Inactive</label>
        <label class ="radio-inline btn btn-default"><input type="radio" name="state-group" value="incomplete">Incomplete</label>
        <label class ="radio-inline btn btn-default"><input type="radio" name="state-group" value="complete">Complete</label>
      </div>
    </div>
  </div>
</div>
{{else}}
<div class="form-group">
  <div class="radio">
    <div class="row">
      <div class="col-xs-2">
        State
      </div>
      <div class="col-xs-10">
        <label class ="radio-inline btn btn-default"><input type="radio" name="state-group" value="inactive" checked>Inactive</label>
        <label class ="radio-inline btn btn-default"><input type="radio" name="state-group" value="incomplete">Incomplete</label>
        <label class ="radio-inline btn btn-default"><input type="radio" name="state-group" value="complete">Complete</label>
      </div>
    </div>
  </div>
</div>
{{/if}}

{{yield}}
